.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    padding: 1rem 2rem;
    color: white;
}

.searchBarContainer {
    width: 45%;
}

.clickableBtn {
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
}

.cartIconAndNumber {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartIcon {
    font-size: 1.5rem
}

.cartText {
    margin: 0 0 0 0.5rem;
}